{% extends "tienda/base.html" %}
{% load static %}
{% load humanize %}	
<!DOCTYPE html>
<html>
    {% block content %}

<!-- section -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Inicio</a></li>
            {% if request.user == users %}
            <li><a href="{% url 'account' users.id %}">Mi perfil</a></li>        
            {% else %}       
            <li><a href="{% url 'account' users.id %}">{{ users.username }}</a></li>                
            {% endif %}
            {% if request.user == users %}
            <li class="active">Mis productos publicados</li> 
            {% else %}       
            <li class="active">Productos publicados</li>              
            {% endif %}            

        </ul>
    </div>
</div> 
<div class="section">    
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div class="col-md-3">
                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="title">Panel de Perfil</h3>
                    </div>
                    <div class="aside">
                    <ul class="list-links">
                        {% if request.user == users %}
                        <li><a href="{% url 'account' users.id %}"> Mi Perfil de usuario</a></li>
                        <li class="active"><a href="{% url 'account_products' users.id %}">Mis productos publicados</a></li>
                        <li><a href="{% url 'account_saved_products' %}">Mis Productos guardados</a></li>
                        <li><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
                        {% else %}
                        <li><a href="{% url 'account' users.id %}"> Perfil de usuario</a></li>
                        <li class="active"><a href="{% url 'account_products' users.id %}">productos publicados</a></li>
                        {% endif %}
                    </ul>
                    </div>
                </div>
                <hr /><br>
                <div class="section-title"><h3 class="title">Filtrar productos</h3></div>
                <br>
                <form method="GET" action=".">
                  <div>
                    <input class="form-control py-2 border-right-0 border" type="search" name="nombre_contains" placeholder="Nombre" />
                  </div>
                  <div>
                    <br>
                    <label for="precioCountMin">Precio desde</label>
                    <input type="number" min=0 class="form-control" id="precioCountMin" placeholder="0" name="precio_count_min">
                  </div>    
                  <p></p>
                  <div>
                    <label for="precioCountMax">Precio hasta</label>
                    <input type="number" min=0 class="form-control" id="precioCountMax" placeholder="100000" name="precio_count_max">                
                  </div>      
                  <br>
                  <div>
                    <label for="publishDateMin">Publicaciones desde la fecha</label>
                    <input type="date" class="form-control" id="publishDateMin" name="date_min">
                  </div>
                  <p></p>                
                  <div>
                    <label for="publishDateMax">Publicaciones hasta la fecha</label>
                    <input type="date" class="form-control" id="publishDateMax" name="date_max">
                  </div> 
                  <br>
                  <div>
                    <label for="category">Categoria</label>
                    <select id="category" class="form-control" name="category">
                      <option selected>Elegir categoria</option>
                      {% load mptt_tags %}   
                      {% recursetree categorias %}
                        {% if node.level == 1 %}
                          <option value="{{ node.id }}">{{ node.name }}</option>
                        {% endif %}                            
                        {% if node.level == 0 %}
                          <optgroup label="{{node.name}}">
                            {{children}}
                          </optgroup> 
                        {% endif %}                                     
                      {% endrecursetree %}    
                    </select>
                  </div>
                  <br>
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="vendido" name="vendido">
                      <label class="form-check-label" for="vendido">
                        Ya vendido
                      </label>
                      &nbsp;&nbsp;&nbsp;
                      <input class="form-check-input" type="checkbox" id="notVendido" name="notVendido">
                      <label class="form-check-label" for="notVendido">
                        A la venta
                      </label>
                    </div>
                  </div>                
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="permuta" name="permuta">
                      <label class="form-check-label" for="permuta">
                        Permuta
                        &nbsp;&nbsp;&nbsp;
                      <input class="form-check-input" type="checkbox" id="notPermuta" name="notPermuta">
                      <label class="form-check-label" for="notPermuta">
                        No permuta
                      </label>
                    </div>
                  </div>        
                <button type="submit" class="primary-btn add-to-cart"><i class="fa fa-filter"></i>&nbsp;
                    Filtrar Resultados
                </button>                
              </form>      
              <hr /> 
            </div>

            <!-- /ASIDE -->

            <!-- MAIN -->
            <div id="main" class="col-md-9">
                <!-- store top filter -->
                <!-- /store top filter -->

                <!-- STORE -->
                    <!-- row -->
                    <div class="row">
                        <!-- Product Single -->
                        <div class="col-md-12">
                            <div class="order-summary clearfix">
                                <div class="section-title">
                                    {% if request.user == users %}
                                    <h3 class="title">Lista de tus productos publicados</h3>
                                    {% else %}
                                    <h3 class="title">Lista de productos publicados por {{ users.first_name }} {{ users.last_name }} </h3>
                                    {% endif %}
                                </div>
                                <table class="shopping-cart-table table">
                                    <thead>
                                        <tr>
                                          <th class="text-center">Producto</th>
                                          <th class="text-left">Nombre</th>                                          
                                          <th class="text-center">Precio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for articulo in queryset %}
                                        <tr>                                            
                                            <td>
                                                <div class="banner banner-1">							
                                                <a href="/product/{{ articulo.id }}">
                                                    <img src="{{ articulo.imagen_principal.url }}" alt="" style="display:block; margin:0 auto;width: 200px; height: 200px">
                                                    {% if articulo.vendido %}
                                                    <div class="banner-caption text-center">
                                                        <h1  style="color:white">Vendido</h1>
                                                    </div>
                                                    {% endif %}
                                                </a>                                                    
                                                </div>
                                                <td class="details">
                                                    <a href="/product/{{ articulo.id }}">{{ articulo.nombre }}</a>
                                                </td>
                                                <td class="price text-center"><strong>${{ articulo.precio|intcomma }}</strong><br></td>
                                                <td class="details">
                                                {% if request.user == users %}     
												&nbsp;&nbsp;<a href="/modificar_producto/{{ articulo.id }}">													
													<button class="primary-btn add-to-cart"><i class="fa fa-pencil-square-o"></i>&nbsp;
														Editar publicacion
													</button>
                                                </a>     
                                                <p></p>   
												&nbsp;&nbsp;<a href="{% url 'eliminar_producto' articulo.id %}" onclick="return confirm('¿Estas seguro que deseas eliminar el producto?')">													
													<button class="primary-btn add-to-cart" style=background:black><i class="fa fa-window-close"></i>&nbsp;
														Borrar publicacion
													</button>
												</a>                                                                                                                                   
                                                {% endif %}
                                                </td>                                                
                                            </tr>
                                        {% endfor %}
                                        </tbody>                                    
                                    </table>
                                </div>
                        <!-- /Product Single -->
                    </div>
                    <!-- /row -->
                <!-- /STORE -->

                <!-- store bottom filter -->

                <!-- /store bottom filter -->
            </div>
            <!-- /MAIN -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->
	{% endblock %}
</html>