{% extends "tienda/base.html" %}

{% load static %}
{% block javascript %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="{% static 'pedido/js/confirmacion.js' %}"></script>
  
{% endblock %}
{% block content %}
    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Inicio</a></li>
                {% if request.user == users %}
                <li><a href="{% url 'account' users.id %}">Mi perfil</a></li>        
                {% else %}       
                <li><a href="{% url 'account' users.id %}">{{ users.username }}</a></li>                
                {% endif %}            
                <li class="active">Perfil de usuario</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3">
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">Panel de Perfil</h3>
                        </div>
                        <div class="aside">
                        <ul class="list-links">
                            {% if usuario_log == users %}
                            <li class="active"><a href="{% url 'account' users.id %}"> Mi Perfil de usuario</a></li>
                            <li><a href="{% url 'account_products' users.id %}">Mis productos publicados</a></li>
                            <li><a href="{% url 'account_saved_products' %}">Mis Productos guardados</a></li>
                            <li><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
                            {% else %}
                            <li class="active"><a href="{% url 'account' users.id %}"> Perfil de usuario</a></li>
                            <li><a href="{% url 'account_products' users.id %}">productos publicados</a></li>
                            {% endif %}                            
                        </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">Datos de usuario</h3>
                        </div>
                    </div>
                     <table class="shopping-cart-table table">
                        <tr>
                            <th class="text-left">
                                <div class="col-md-12" style="background-color: rgb(240, 240, 240);">
                                    <table class="shopping-cart-table table"style="background-color: rgb(240, 240, 240);">
                                        <tr>
                                            <th class="text-left">Nombre</th>
                                            <td class="text-left">{{ users.first_name }} {{ users.last_name }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Email</th>
                                            <td class="text-left">{{ users.email }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">Telefono</th>
                                            {% if perfil.telefono is None %}
                                            <td class="text-left">&nbsp;</td>                            
                                            {% else %}                                            
                                            <td class="text-left">+56 9 {{ perfil.telefono }}</td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <th class="text-left">Genero</th>
                                            {% if perfil.genero is None %}
                                            <td class="text-left">&nbsp;</td>                            
                                            {% else %}                                            
                                            <td class="text-left">{{ perfil.get_genero_display }}</td>
                                            {% endif %}                                                 
                                        </tr>
                                        <tr>
                                            <th class="text-left">Region</th>
                                            {% if perfil.region is None %}
                                            <td class="text-left">&nbsp;</td>                            
                                            {% else %}                                            
                                            <td class="text-left">{{ perfil.get_region_display }}</td>
                                            {% endif %}                                                 
                                        </tr>
                                    </table>                 
                                </div>   
                            </th>
                            {% if perfil.foto_de_perfil %}
                            <td><img src="{{ perfil.foto_de_perfil.url }}" alt="" style="border-radius: 45px; height: 250px "></td>
                            {% else %}
                            <td><img   src="{% static '' %}img/avatar.png" alt="" style="border-radius: 45px; height: 250px "></td>
                            {% endif %}                                                        
                        </tr>
                     </table>
            </div>
            <div id="aside" class="col-md-3">                
            </div>
            </div>            
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-8">
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title"><p><br></p>Datos de jugador de Airsoft</h3>
                        </div>
                    </div>
                <div class="col-md-7" style="background-color: rgb(240, 240, 240);">
                    <table class="shopping-cart-table table">
                        <tr>
                            <th class="text-left">Nombre Clave</th>
                            {% if perfil.nombre_clave is None %}
                            <td class="text-left">&nbsp;</td>                            
                            {% else %}
                            <td class="text-left">{{ perfil.nombre_clave}}</td>
                            {% endif %}                          
                        </tr>
                        <tr>
                            <th class="text-left">Escuadron</th>
                            {% if perfil.escuadron is None %}
                            <td class="text-left">&nbsp;</td>                            
                            {% else %}                            
                            <td class="text-left">{{ perfil.escuadron }}</td>
                            {% endif %}                            
                        </tr>
                        <tr>
                            <th class="text-left">Lugar de encuentros</th>
                            {% if perfil.lugar_de_encuentro is None %}
                            <td class="text-left">&nbsp;</td>                            
                            {% else %}
                            <td class="text-left">{{ perfil.lugar_de_encuentro }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th class="text-left">Arma favorita</th>
                            {% if perfil.arma_favorita is None %}
                            <td class="text-left">&nbsp;</td>                            
                            {% else %}                             
                            <td class="text-left">{{ perfil.get_arma_favorita_display }}</td>
                            {% endif %}                            
                        </tr>
                        <tr>
                            <th class="text-left">Descripción</th>
                            <td class="text-left">&nbsp;</td>                            
                        </tr>                            
                            <td class="text-left">{{ perfil.descripcion }}</td>

                    </table>                 
                </div>                                
            </div> 
            <div id="aside" class="col-md-3">
            </div>     
            {% if usuario_log == users %}                   
                <div class="d-flex justify-content-end">                    
 
                {% if existe_perfil == 1 %}     
                    <a href="{% url 'update_profile' id_perfil %}" class="primary-btn">Actualizar datos de perfil</a>
                {% endif %}
                {% if existe_perfil == 0 %}
                    <a href="{% url 'create_Profile' %}" class="primary-btn">Actualizar datos de perfil</a>                    
                {% endif %}

                <a href="{% url 'eliminar_cuenta' users.id %}" onclick="return confirm('Si eliminas tu cuenta se borrarán todos tus productos publicados, chats, mensajes y comentarios ¿Estas seguro que deseas eliminar tu cuenta?')">													
                    <button class="primary-btn add-to-cart" style=background:black><i class="fa fa-window-close"></i>&nbsp;
                        Borrar mi cuenta
                    </button>
                </a>                             
            {% endif %}
        </div> 
            <!-- /row -->
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-9">
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title"><p><br></p>Estadisticas de vendedor y comprador</h3>
                        </div>
                    </div>
                <div class="col-md-10" style="background-color: rgb(240, 240, 240);">
                    <table class="shopping-cart-table table"style="background-color: rgb(240, 240, 240);">                     
                        <tr>
                            <th class="text-left">Cuenta registrada el</th>
                            <td class="text-left">{{ users.date_joined }}</td>                      
                        </tr>
                        <tr>
                            <th class="text-left">Calificación como vendedor</th>
                            <td class="text-left">
                                {% if calificacion_vendedor %}
                                    {% if calificacion_vendedor == 0 %}
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>																														
                                    <i class="fa fa-star-o empty"></i>														
                                {% elif calificacion_vendedor == 1 %}
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>																														
                                    <i class="fa fa-star-o empty"></i>		
                                {% elif calificacion_vendedor == 2 %}
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>																
                                    <i class="fa fa-star-o empty"></i>
                                {% elif calificacion_vendedor == 3 %}
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>																																									
                                {% elif calificacion_vendedor == 4 %}
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                {% elif calificacion_vendedor == 5 %}
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>														
                                {% endif %}
                                &nbsp;(promedio de {{ cantidad_comentarios }} comentarios)
                                {% else %}
                                Sin calificaciones aun
                                {% endif %}                               
                            </td>                      
                        </tr>                         
                        <tr>
                            <th class="text-left">Calificación en sus productos vendidos</th>
                            <td class="text-left">
                                {% if calificacion_producto %}
                                    {% if calificacion_producto == 0 %}
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>																														
                                    <i class="fa fa-star-o empty"></i>														
                                {% elif calificacion_producto == 1 %}
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>																														
                                    <i class="fa fa-star-o empty"></i>		
                                {% elif calificacion_producto == 2 %}
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>																
                                    <i class="fa fa-star-o empty"></i>
                                {% elif calificacion_producto == 3 %}
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>																																									
                                {% elif calificacion_producto == 4 %}
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                {% elif calificacion_producto == 5 %}
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>														
                                {% endif %}
                                &nbsp;(promedio de {{ cantidad_comentarios }} comentarios)
                                {% else %}
                                Sin calificaciones aun
                                {% endif %}                               
                            </td>                  
                        </tr>                    
                        <tr>
                            <th class="text-left">Cantidad de productos publicados</th>
                            <td class="text-left">{{ cantidad_productos_publicados }}</td>                      
                        </tr>                
                        <tr>
                            <th class="text-left">Cantidad de productos vendidos</th>
                            <td class="text-left">{{ cantidad_productos_vendidos }}</td>                      
                        </tr>   
                        <tr>
                            <th class="text-left">Cantidad de productos comprados y comentados</th>
                            <td class="text-left">{{ cantidad_comentarios_realizados }}</td>                      
                        </tr>                                                 
                    </table>               
                </div>                                
            </div> 
        <div id="aside" class="col-md-3">
    </div>     
</div>            

</div>
<p>
<br>
</p>
        
        <!-- /container -->
    </div>
    <!-- /section -->

{% endblock %}