<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{% block title %} My Home Page {% endblock %}</title>
    <meta name="keywords" content="{% block keywords %} Home Keywords {% endblock %}">
    <meta name="description" content="{% block description %} Home description  {% endblock %}">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">
    {% load static %}
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="{% static '' %}css/bootstrap.min.css" />
	
    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/slick.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static '' %}css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="{% static '' %}css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="{% static '' %}css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static '' %}css/style.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery !-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
    <!-- jQuery UI !-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    {% block head %}


    {% endblock %}
</head>

<body>
	<!-- HEADER -->
	<header>
		<!-- header -->
		<div id="header">
			<div class="container">
				<div id="aside" class="col-md-3">
				</div>
				<div id="main" class="col-md-6">				
				{% if messages %}

				{% for message in messages %}
				{% if message.level == 40 %}

				<style>
					.alert {
					  padding: 20px;
					  background-color: #f44336;
					  color: white;
					}
					
					.closebtn {
					  margin-left: 15px;
					  color: white;
					  font-weight: bold;
					  float: right;
					  font-size: 22px;
					  line-height: 20px;
					  cursor: pointer;
					  transition: 0.3s;
					}
					
					.closebtn:hover {
					  color: black;
					}
					</style>
					</head>
					<body>
					
					<div class="alert">
					  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
					  {{ message }}
					</div>
					{% elif message.level == 25 %}
					<style>
						.alert2 {
						  padding: 20px;
						  background-color: #3688f4;
						  color: white;
						}
						
						.closebtn {
						  margin-left: 15px;
						  color: white;
						  font-weight: bold;
						  float: right;
						  font-size: 22px;
						  line-height: 20px;
						  cursor: pointer;
						  transition: 0.3s;
						}
						
						.closebtn:hover {
						  color: black;
						}
						</style>
						</head>
						<body>
						
						<div class="alert2">
						  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
						  {{ message }}
						</div>								
					{% endif %}
				{% endfor %}				
			{% endif %}		
				</div>		
				<div class="pull-left">
					<!-- Logo -->
					<div class="header-logo">
						<a class="logo"  href="{% url 'home' %}">
							<img   src="{% static '' %}img/logo.png" alt="">
						</a>
					</div>
					<!-- /Logo -->
					<!-- Search -->
					<div class="header-search">
						<form action="/search/" method="post">
							{% csrf_token %}
							<input id="query" name="query" class="input search-input" type="text" placeholder="Buscar">
							<select name="catid" class="input search-categories">
								<option value="0">Todo</option>							
								{% load mptt_tags %}   
								{% recursetree categorias %}
									{% if node.level == 1 %}
										<option value="{{ node.id }}">{{ node.name }}</option>
									{% endif %}                            
									{% if node.level == 0 %}
										<optgroup label="{{node.name}}">
											{{children}}
										</optgroup> 
									{% endif %}                                     
								{% endrecursetree %}               
							</select>
								<button class="search-btn"><i class="fa fa-search"></i></button>								
						</form>
					</div>
					<!-- /Search -->
				</div>
				<div class="pull-right">
					<ul class="header-btns">
            <!-- Account -->
            {%if user.is_authenticated %}
						<li class="header-account dropdown default-dropdown">
							<div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
								<h3><strong class="text-uppercase">Mi cuenta <i class="fa fa-caret-down"></i></strong></h3>
							</div>
							<h4>{{user.first_name}} {{user.last_name}}</h4>							
							<ul class="custom-menu">
								<li><a href="{% url 'account' user.id %}"><i class="fa fa-address-book"></i>Mi perfil</a></li>
								<li><a href="{% url 'account_saved_products' %}"><i class="fa fa-bookmark"></i> Guardados</a></li>
								<li><a href="{% url 'account_products' user.id %}"><i class="fa fa-archive"></i> Mis publicaciones</a></li>
								{% if chats == 1%}								
								<li><a href="{% url 'dialogs' %}"><i class="fa fa-weixin" aria-hidden="true"></i> Mensajes</a></li>
								{% else %}	
								<li><a href="{% url 'no_dialogs' %}"><i class="fa fa-weixin" aria-hidden="true"></i> Mensajes</a></li>
								{% endif %}
								<li><a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>Cerrar Sesion</a></li>
							</ul>
						</li>
						{% if notificar == 1 %}
						<li class="header-account dropdown default-dropdown">
							<div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
								<h3><strong class="text-uppercase"><i class="fa fa-bell" aria-hidden="true"></i></strong></h3>
							</div>
							<ul class="custom-menu">										
								<li><a href="/dialogs/"><i class="fa fa-weixin" aria-hidden="true"></i> Tienes nuevos mensajes</a></li>					
							</ul>
						</li>
						{% endif %}							
						{% endif %}
						<!-- /Account -->
						<!-- Mobile nav toggle-->
						<li class="nav-toggle">
							<button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
						</li>
						<!-- / Mobile nav toggle -->
					</ul>
				</div>
			</div>
			<!-- header -->
		</div>
		<!-- container -->
	</header>
	<!-- /HEADER -->
	<!-- NAVIGATION -->
	<div id="navigation">
		<!-- container -->
		<div class="container">
			<div id="responsive-nav">
				<!-- category nav -->        
				{% if page %}
				<div class="category-nav">
			{% else %}
				<div class="category-nav show-on-click">
			{% endif %}
			<span class="category-header">Categorias <i class="fa fa-list"></i></span>
			{% load mptt_tags %}
			<ul class="category-list">
				{% recursetree categorias %}
				<li class="dropdown side-dropdown">
					<a href="{% url 'category_products' node.id %}" class="dropdown-toggle" 
					{% if not node.is_leaf_node %} data-toggle="dropdown" aria-expanded="true" {% endif %}>
					{{ node.name }} {% if not node.is_leaf_node %} <i class="fa fa-angle-right"></i>{% endif %}</a>
					<div class="custom-menu">
						<div class="row">
							<div class="col-md-4">
								{% if not node.is_leaf_node %}
									<ul class="list-links">
										<li><a href="#">{{ children }}</a></li>
									</ul>
								{% endif %}
								<hr class="hidden-md hidden-lg">
                        	</div>
                    	</div>
               	 	</div>
            	</li>
				{% endrecursetree %}
			</ul>
		</div>        
				<!-- /category nav -->
				<!-- menu nav -->
				<div class="menu-nav">
					<span class="menu-header">Menu <i class="fa fa-bars"></i></span>
					<ul class="menu-list">
            <li><a href="{% url 'home' %}">Inicio</a></li>
            {%if user.is_authenticated %}
            <li><a href="{% url 'elegir_categoria' %}">Publicar</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Iniciar sesión</a></li>            
            <li><a href="{% url 'registro_usuario' %}">Registrarse</a></li>   
			{% endif %} 
		</ul>
	</div>
	<!-- menu nav -->
</div>
</div>
<!-- /container -->
</div>
  <!-- /NAVIGATION -->
  {% block content %}


  {% endblock %}
  <!-- FOOTER -->
	<footer id="footer" class="section section-grey">
		<!-- container -->
		<div class="container">
			<hr>
			<!-- row -->
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<!-- footer copyright -->
					<div class="footer-copyright">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright Tienda Airsoft &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | Este diseño fue hecho con <a href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</div>
					<!-- /footer copyright -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</footer>
	<!-- /FOOTER -->

	<!-- jQuery Plugins -->
	<script src="{% static '' %}js/bootstrap.min.js"></script>
	<script src="{% static '' %}js/slick.min.js"></script>
	<script src="{% static '' %}js/nouislider.min.js"></script>
	<script src="{% static '' %}js/jquery.zoom.min.js"></script>
	<script src="{% static '' %}js/main.js"></script>
</body>

</html>