{% extends "tienda/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
    {% block content %}
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                <div id="aside" class="col-md-3"></div>
                <div id="main" class="col-md-7">
                    {% if todo_bien != 1 %}
                    <p><br></p>
                    <h3>Parece que te has perdido o algo salio mal</h3>
                    <p><h3>Codigo error: {{ todo_bien }}</h3></p>
                    {% else %}                    
                    <h3>Si apretas en Aceptar se le enviara un mensaje predefinido a {{ articulo.autor }} en que le preguntaras si le interesa intercambiar su producto {{ articulo.nombre }} por tu producto {{ ofreces.nombre }}</h3>
                    <p></p>

                    {% if decision == 0 %}
                    <form method='POST'>
                        {% csrf_token %}									
                        {{form1.as_p}}
                        &nbsp;<button class="primary-btn add-to-cart" style="background-color: gray;"><a href="{% url 'product_detail' articulo.id %}">Regresar</a></button>
                    </form>
                    {% elif decision == 1 %}
                    <form method='POST'>
                        {% csrf_token %}									
                        {{form1.as_p}}
                        <button class="primary-btn add-to-cart" type="submit" name="btnform1">Aceptar1</button>&nbsp;<button class="primary-btn add-to-cart" style="background-color: gray;"><a href="{% url 'product_detail' articulo.id %}">Regresar</a></button>
                    </form>                    
                    {% elif decision == 2 %}
                    <form method='POST'>
                        {% csrf_token %}									
                        {{form2.as_p}}
                        <button class="primary-btn add-to-cart" type="submit" name="btnform2">Aceptar2</button>&nbsp;<button class="primary-btn add-to-cart" style="background-color: gray;"><a href="{% url 'product_detail' articulo.id %}">Regresar</a></button>
                    </form>                    
                    {% elif decision == 3 %}  
                    <form method='POST'>
                        {% csrf_token %}									
                        {{form3.as_p}}
                        <button class="primary-btn add-to-cart" type="submit" name="btnform3">Aceptar3</button>&nbsp;<button class="primary-btn add-to-cart" style="background-color: gray;"><a href="{% url 'product_detail' articulo.id %}">Regresar</a></button>
                    </form>                     
                    {% elif decision == 4 %} 
                    <form method='POST'>
                        {% csrf_token %}									
                        {{form4.as_p}}
                        <p><br></p><h3>Ya ofreciste este objeto para permutar1</h3>&nbsp;<button class="primary-btn add-to-cart" style="background-color: gray;"><a href="{% url 'product_detail' articulo.id %}">Regresar</a></button>
                    </form>                       
                    {% elif decision == 5 %} 
                    <form method='POST'>
                        {% csrf_token %}									
                        {{form5.as_p}}
                        <p><br></p><h3>Ya ofreciste este objeto para permutar2</h3>&nbsp;<button class="primary-btn add-to-cart" style="background-color: gray;"><a href="{% url 'product_detail' articulo.id %}">Regresar</a></button>
                    </form>                                                                                                 
                    {% endif %}

                    <h2>DESICION={{ decision }}</h2>
                    

                    
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
	{% endblock %}    
</html>