{% extends "tienda/base.html" %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
            </div>
            <div id="main" class="col-md-5">
                <br>                 
                <h2>Llena tus datos de perfil</h2>
                <br>
                <form action="" method="POST"    enctype="multipart/form-data">
                    {% csrf_token %}
                    {% csrf_token %}       
                    {{ formularioPerfil.media }}             
                    {{ formularioPerfil | crispy }}                                                       
                    <br>     
                    <div class="d-flex justify-content-end">
                        <liv>
                            <a href="#" onclick="return confirm('Se limpiarán todos los campos')">													                          												                                            												
                                <button type="reset" class="primary-btn add-to-cart" style=background:gray><i class="fa fa-eraser"></i>&nbsp;
                                    Limpiar campos
                                </button>         
                            </a>         
                            <button type="submit" name="submit" value="Modificar datos de perfil" class="primary-btn add-to-cart"><i class="fa fa-pencil"></i>&nbsp;
                               Modificar datos de perfil
                            </button>  
                        </liv>                         
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}