{% extends "tienda/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
    {% block content %}
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                <div id="aside" class="col-md-3"></div>
                <div id="main" class="col-md-7">
                    {% if todo_bien != 1 %}
                    <p><br></p>
                    <h3>Parece que te has perdido o algo salio mal</h3>
                    <p><h3>Codigo error: {{ todo_bien }}</h3></p>                    
                    {% else %}                    
                    <h3>Se elegirá a {{ comprador }} como el comprador del producto {{ articulo.nombre }}</h3>
                    <p></p>
                    <h3>Si elige confirmar, su publicacion quedara marcada como vendida, por lo que ya no aparecera en la pagina principal y quedara marcada con una etiqueta, ademas se enviara un mensaje predefinido a {{ comprador }} avisandole que ya puede valorar su publicacion y atencion como vendedor</h3>
                    <h4 style="color:red;">Advertencia</h4><h4> En caso de equivocarse comuniquese con el administrador del sitio web para volver a poner su producto como no vendido y eliminar la valoracion recibida</h4>
                    <form method='POST'>
                        {% csrf_token %}									
                        {{form1.as_p}}
                        <button class="primary-btn add-to-cart" type="submit" name="btnform0">Confirmar</button>&nbsp;<button class="primary-btn add-to-cart" style="background-color: gray;"><a href="{% url 'product_detail' articulo.id %}">Regresar</a></button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
	{% endblock %}    
</html>