{% extends "tienda/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
    {% block content %}
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                <div id="aside" class="col-md-3"></div>
                <div id="main" class="col-md-7">    
                    <form method="GET" action=".">                
                    <div>
                        <label for="category">Categoria</label>
                        <select id="category" class="form-control" name="category">
                            <option selected>Elegir categoria</option>                              
                            {% load mptt_tags %}   
                            {% recursetree categorias %}
                                {% if node.level == 1 %}
                                    <option value="{{ node.id }}">{{ node.name }}</option>
                                {% endif %}                            
                                {% if node.level == 0 %}
                                    <optgroup label="{{node.name}}">
                                        {{children}}
                                    </optgroup> 
                                {% endif %}                                     
							{% endrecursetree %}                            
                        </select>
                    </div>                      
                    <br>
                    <button type="submit" class="primary-btn add-to-cart">
                        Confirmar
                    </button>    
                    </form>                                     
                </div>
            </div>
        </div>
    </div>
	{% endblock %}    
</html>