{% extends "tienda/base.html" %}
{% load static %}
{% load humanize %}	  
<!DOCTYPE html>
<html>
	{% block content %}
	
	<!-- HOME -->
	<div id="home">
		<!-- container -->
		<div class="container">
			<!-- home wrap -->
			<div class="home-wrap">
				<!-- home slick -->
				<div id="home-slick">
          			<!-- banner -->
          			{% for articulo in products_slider %}
					<div class="banner banner-1">
						<img src="{{ articulo.imagen_principal.url }}" alt="" style="height: 715px">
						<div class="banner-caption text-center">
							<h1  style="color:white">{{ articulo.nombre }}</h1>
							<h1 style="color:white">${{ articulo.precio|intcomma }}</h1>
							<a href="/product/{{ articulo.id }}" class="primary-btn">Comprar ahora</a>
						</div>
					</div>          
					{% endfor %}
					<!-- /banner -->
				</div>
				<!-- /home slick -->
			</div>
			<!-- /home wrap -->
		</div>
		<!-- /container -->
	</div>
	<!-- /HOME -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">Ultimos Productos</h2>
					</div>
				</div>
				<!-- section title -->
				{% for articulo in ultimos_articulos %}
				<!-- Product Single -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="product product-single">
						<div>
							<a href="/product/{{ articulo.id }}">
								<img src="{{ articulo.imagen_principal.url }}" alt="" style="height: 300px; width:250px">
							</a>
						</div>
						<div class="product-body">
							<h3 class="product-price">${{ articulo.precio|intcomma }}</h3>

							<h2 class="product-name"><a href="/product/{{ articulo.id }}">{{ articulo.nombre }}</a></h2>
							<div class="product-btns">
								{% if articulo.permuta %}
								<a href="/product/{{ articulo.id }}"><i class="fa fa-exchange">&nbsp;</i>Permutar</a>&nbsp;
								{% endif %}
								<a href="/product/{{ articulo.id }}"><i class="fa fa-shopping-cart"></i> Comprar</a>
							</div>
						</div>
					</div>
				</div>
				<!-- /Product Single -->
				{% endfor %}
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">			
			<!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">Otros productos</h2>
						<div class="pull-right">
							<div class="product-slick-dots-2 custom-dots">
							</div>
						</div>
					</div>
				</div>
				<!-- section title -->
        		{% for articulo in articulos_random %}
				<!-- Product Single -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="product product-single product-hot">
						<div>
							<div class="product-label">
								<!--
								<span><i class="fa fa-exchange"></i></span>								
								<span class="sale"><i class="fa fa-exchange"></i></span>
							-->
							</div>
							<ul class="product-countdown">
							</ul>
							<a href="/product/{{ articulo.id }}">
							<img src="{{ articulo.imagen_principal.url }}" alt="" style="height: 300px; width:250px">
						</a>
						</div>
						<div class="product-body">
							<h3 class="product-price">${{ articulo.precio|intcomma }}</h3>

							<h2 class="product-name"><a href="/product/{{ articulo.id }}">{{ articulo.nombre }}</a></h2>
							<!--
							<div class="product-btns">
								<h2>{{ fav }}</h2>
								<h2>{{ i }}</h2>								
								<h2>{{ variable1 }}</h2>
								<h2>{{ variable2 }}</h2>
								<h2>{{ variable3 }}</h2>
								<h1>{{ variable4 }}</h1>																								
							{% if fav %}
							<a href="{% url 'favourite_add' articulo.id %}" class=""><button class="main-btn icon-btn"><i class="fa fa-bookmark" aria-hidden="true"></i></button></a>								
							{% else %}
							<a href="{% url 'favourite_add' articulo.id %}" class=""><button class="main-btn icon-btn"><i class="fa fa-bookmark-o" aria-hidden="true"></i></button></a>	
							{% endif %}
								<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
								<a href="/product/{{ articulo.id }}"><i class="fa fa-shopping-cart"></i> Comprar</a>
							</div>-->
						</div>
					</div>
				</div>
				<!-- /Product Single -->
				{% endfor %}
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->	
	{% endblock %}
</html>