{% extends "tienda/base.html" %}

{% load static %}

{% block content %}

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3"></div>
            <div id="main" class="col-md-7">
                
                <h3>Su cuenta no tiene ningun chat con otro usuario aun</h3>
                

            </div>
        </div>
    </div>
</div>

{% endblock %}