<!DOCTYPE html>
<html lang="en">
{% load humanize %}	
{% load static %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  
	<title> My Home Page </title>
  
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">
	  
	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css" />
  
	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="/static/css/slick.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/slick-theme.css" />
  
	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="/static/css/nouislider.min.css" />
  
	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
  
	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/static/css/style.css" />
  
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!-- jQuery !-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
	<!-- jQuery UI !-->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
		  
</head>
<body>
	<!-- HEADER -->
	<header>
		<!-- top Header -->		
		<!-- /top Header -->
		<!-- header -->
		<div id="header">
			<div class="container">
				<div id="aside" class="col-md-3">
				</div>
				<div id="main" class="col-md-6">				
				{% if messages %}

				{% for message in messages %}
				{% if message.level == 40 %}

				<style>
					.alert {
					  padding: 20px;
					  background-color: #f44336;
					  color: white;
					}
					
					.closebtn {
					  margin-left: 15px;
					  color: white;
					  font-weight: bold;
					  float: right;
					  font-size: 22px;
					  line-height: 20px;
					  cursor: pointer;
					  transition: 0.3s;
					}
					
					.closebtn:hover {
					  color: black;
					}
					</style>
					</head>
					<body>
					
					<div class="alert">
					  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
					  {{ message }}
					</div>
					{% elif message.level == 25 %}
					<style>
						.alert2 {
						  padding: 20px;
						  background-color: #3688f4;
						  color: white;
						}
						
						.closebtn {
						  margin-left: 15px;
						  color: white;
						  font-weight: bold;
						  float: right;
						  font-size: 22px;
						  line-height: 20px;
						  cursor: pointer;
						  transition: 0.3s;
						}
						
						.closebtn:hover {
						  color: black;
						}
						</style>
						</head>
						<body>
						
						<div class="alert2">
						  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
						  {{ message }}
						</div>								
					{% endif %}
				{% endfor %}				
			{% endif %}		
				</div>		
				<div class="pull-left">
					<!-- Logo -->
					<div class="header-logo">
						<a class="logo"  href="{% url 'home' %}">
							<img   src="{% static '' %}img/logo.png" alt="">
						</a>
					</div>
					<!-- /Logo -->
					<!-- Search -->
					<div class="header-search">
						<form action="/search/" method="post">
							{% csrf_token %}
							<input id="query" name="query" class="input search-input" type="text" placeholder="">
							<select name="catid" class="input search-categories">
								<option value="0">Todo</option>							
                				{% load mptt_tags %}
								{% recursetree categorias %}
									{% if node.is_leaf_node %}
                						<option value="{{ node.id }}">{{ node.name }}</option>
									{% endif %}
									{% if not node.is_leaf_node %}
										<outgroup label="{{ node.name }}">
											{{ children }}
										</outgroup>
									{% endif %}
								{% endrecursetree %}                
							</select>
							<button class="search-btn"><i class="fa fa-search"></i></button>
						</form>
					</div>
					<!-- /Search -->
				</div>
				<div class="pull-right">
					<ul class="header-btns">
            <!-- Account -->
            {%if user.is_authenticated %}
						<li class="header-account dropdown default-dropdown">
							<div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
								<h3><strong class="text-uppercase">Mi cuenta <i class="fa fa-caret-down"></i></strong></h3>
							</div>
							<h4>{{user.first_name}} {{user.last_name}}</h4>
							<ul class="custom-menu">
								<li><a href="{% url 'account' user.id %}"><i class="fa fa-address-book"></i>Mi perfil</a></li>
								<li><a href="{% url 'account_saved_products' %}"><i class="fa fa-bookmark"></i> Guardados</a></li>
								<li><a href="{% url 'account_products' user.id %}"><i class="fa fa-archive"></i> Mis publicaciones</a></li>
								{% if chats == 1%}								
								<li><a href="{% url 'dialogs' %}"><i class="fa fa-weixin" aria-hidden="true"></i> Mensajes</a></li>
								{% else %}	
								<li><a href="{% url 'no_dialogs' %}"><i class="fa fa-weixin" aria-hidden="true"></i> Mensajes</a></li>
								{% endif %}
								<li><a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>Cerrar Sesion</a></li>
							</ul>
						</li>
			{% if notificar == 1 %}
			<li class="header-account dropdown default-dropdown">
				<div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
					<h3><strong class="text-uppercase"><i class="fa fa-bell" aria-hidden="true"></i></strong></h3>
				</div>
				<ul class="custom-menu">										
					<li><a href="/dialogs/"><i class="fa fa-weixin" aria-hidden="true"></i> Tienes nuevos mensajes</a></li>					
				</ul>
			</li>
			{% endif %}			
            {% endif %}
						<!-- /Account -->
						<!-- Mobile nav toggle-->
						<li class="nav-toggle">
							<button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
						</li>
						<!-- / Mobile nav toggle -->
					</ul>
				</div>
			</div>
			<!-- header -->
		</div>
		<!-- container -->
	</header>
	<!-- /HEADER -->

	<!-- NAVIGATION -->
	<div id="navigation">
		<!-- container -->
		<div class="container">
			<div id="responsive-nav">
				<!-- category nav -->        
        		{% if page %}
        		<div class="category-nav">
    				{% else %}
        			<div class="category-nav show-on-click">
    				{% endif %}
    					<span class="category-header">Categorias <i class="fa fa-list"></i></span>
    				{% load mptt_tags %}
    					<ul class="category-list">
        				{% recursetree categorias %}
            			<li class="dropdown side-dropdown">
                			<a href="{% url 'category_products' node.id %}" class="dropdown-toggle" 
                				{% if not node.is_leaf_node %} data-toggle="dropdown" aria-expanded="true" {% endif %}>
                				{{ node.name }} {% if not node.is_leaf_node %} <i class="fa fa-angle-right"></i>{% endif %}</a>
                			<div class="custom-menu">
	                    		<div class="row">
    	                    		<div class="col-md-4">
        	                    		{% if not node.is_leaf_node %}
            	                    	<ul class="list-links">
                	                    	<hr><li><a href="#">{{ children }}</a></li>
                    	            	</ul>
                        	    		{% endif %}
                            		<hr class="hidden-md hidden-lg">
                        			</div>
	                    		</div>
    	            		</div>
        	    		</li>
        				{% endrecursetree %}
    				</ul>
    			</div>        
				<!-- /category nav -->
				<!-- menu nav -->
				<div class="menu-nav">
					<span class="menu-header">Menu <i class="fa fa-bars"></i></span>
					<ul class="menu-list">
            			<li><a href="{% url 'home' %}">Inicio</a></li>
            			{%if user.is_authenticated %}
            			<li><a href="{% url 'elegir_categoria' %}">Publicar</a></li>
            			{% else %}
            			<li><a href="{% url 'login' %}">Iniciar sesión</a></li>            
            			<li><a href="{% url 'registro_usuario' %}">Registrarse</a></li>   
            			{% endif %} 						
					</ul>
				</div>
				<!-- menu nav -->
			</div>
		</div>
		<!-- /container -->
	</div>
    <!-- /NAVIGATION -->
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Inicio</a></li>
				<li><a href="/category/{{ articulos.categoria.id }}">{{ articulos.categoria.name }}</a></li>
				<li class="active">{{ articulos.nombre }}</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!--  Product Details -->
				<div class="product product-details clearfix">
					<div class="col-md-6">
						<div id="product-main-view">
							<div class="product-view">
								<img src="{{ articulos.imagen_principal.url }}" alt="" style="height: 500px">
              				</div>
							{% if articulos.imagen_extra_1 %}
							<div class="product-view">
								<img src="{{ articulos.imagen_extra_1.url }}" alt="" style="height: 500px">
              				</div>
							{% endif %}
							{% if articulos.imagen_extra_2 %}
							<div class="product-view">
								<img src="{{ articulos.imagen_extra_2.url }}" alt="" style="height: 500px">
              				</div>
							{% endif %}
							{% if articulos.imagen_extra_3 %}
							<div class="product-view">
								<img src="{{ articulos.imagen_extra_3.url }}" alt="" style="height: 500px">
              				</div>
							{% endif %}
							{% if articulos.imagen_extra_4 %}
							<div class="product-view">
								<img src="{{ articulos.imagen_extra_4.url }}" alt="" style="height: 500px">
              				</div>
							{% endif %}
							{% if articulos.imagen_extra_5 %}
							<div class="product-view">
								<img src="{{ articulos.imagen_extra_5.url }}" alt="" style="height: 500px">
              				</div>
							{% endif %}																												
            			</div>            
						<div id="product-view">
							<div class="product-view">
								<img src="{{ articulos.imagen_principal.url }}" alt="">
							</div>
							{% if articulos.imagen_extra_1 %}
              				<div class="product-view">
                				<img src="{{ articulos.imagen_extra_1.url }}" alt="">
              				</div>
							{% endif %}
							{% if articulos.imagen_extra_2 %}
              				<div class="product-view">
                				<img src="{{ articulos.imagen_extra_2.url }}" alt="">
              				</div>
							{% endif %}
							{% if articulos.imagen_extra_3 %}
              				<div class="product-view">
                				<img src="{{ articulos.imagen_extra_3.url }}" alt="">
              				</div>
							{% endif %}
							{% if articulos.imagen_extra_4 %}
              				<div class="product-view">
                				<img src="{{ articulos.imagen_extra_4.url }}" alt="">
              				</div>
							{% endif %}
							{% if articulos.imagen_extra_5 %}
              				<div class="product-view">
                				<img src="{{ articulos.imagen_extra_5.url }}" alt="">
              				</div>
							{% endif %}																												
						</div>
					</div>
					<div class="col-md-6">
						<div class="product-body">					
							<h2 class="product-name">{{ articulos.nombre }}</h2>
							{% load humanize %}
							<h3 class="product-price">${{ articulos.precio | intcomma }}</h3>
							<p>Publicado por:<a href="{% url 'account' articulos.autor.id %}">&nbsp;{{ articulos.autor.username }}</a></p>
							<p><strong>Permite permutar:{% if articulos.permuta %}
							</strong> Si, acepta permutar</p>
							{% endif %}
						{% if articulos.permuta != True %}
						</strong>No, solo vende</p>
						{% endif %}
						<p></p>
						<div class="product-btns">
							{% if terminado == 1 %}
							<div class="primary-btn add-to-cart" style=background:black>Este producto ya fue vendido</div>
							{% if fav %}
							<a href="{% url 'favourite_add' articulos.id %}" class=""><button class="main-btn icon-btn"><i class="fa fa-bookmark" aria-hidden="true"></i></button></a>								
							{% else %}
							<a href="{% url 'favourite_add' articulos.id %}" class=""><button class="main-btn icon-btn"><i class="fa fa-bookmark-o" aria-hidden="true"></i></button></a>	
							{% endif %}					
							{% endif %}
							{% if terminado == 0 %}	<!-- si el producto aun no esta vendido  -->
								
						{% if usuario_log == autor %}	<!-- si propietario esta viendo su publicacion  -->			
						<div class="header-account dropdown default-dropdown">
							<div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
								<button class="primary-btn add-to-cart" type="submit">Marcar como vendido&nbsp;<i class="fa fa-caret-down"></i></button>	
							</div>
							<ul class="custom-menu">
								{% if chats == 0 %}
								<h4>Aun no tienes un chat con ningun usuario</h4><h4>Envia o recibe mensajes de otros usuarios para poder elegir uno como vendedor</h4>
								{% else %}
								{% for dialog in chats1 %}				
									<form method='POST'>
										{% csrf_token %}
										{{form0.as_p}}<!-- <a href="/category/{{ rs.category_id }}/{{ rs.category.slug }}"> -->
										<button class="primary-btn add-to-cart"><a href="/elegir_comprador/{{ dialog.owner.id }}/{{ articulos.id }}/">Elegir a {{ dialog.owner.first_name }}</a></button><p></p>
									</form>
								{% endfor %}
								{% for dialog in chats2 %}				
									<form method='POST'>
										{% csrf_token %}
										{{form0.as_p}}<!-- <a href="/category/{{ rs.category_id }}/{{ rs.category.slug }}"> -->
										<button class="primary-btn add-to-cart"><a href="/elegir_comprador/{{ dialog.opponent.id }}/{{ articulos.id }}/">Elegir a {{ dialog.opponent.first_name }}</a></button><p></p>
									</form>
								{% endfor %}
								{% endif %}									
							</ul>
											
						{% endif %}
						<!--ACA VAN LOS CASOS EN QUE AUN NO SE HA VENDIDO-->
						{% if decision == 0 %}
						<a href="{% url 'login' %}">
							<button class="primary-btn add-to-cart">
								<i class="fa fa-weixin" aria-hidden="true"></i>&nbsp;
								<i class="fa fa-shopping-cart"></i>&nbsp;Requiere iniciar sesion
							</button>
						</a>							
						{% endif %}	
						<!--   -->
						{% if usuario_log != autor %}<!--si el usuario iniciado no es el dueño de la publicacion-->
							{% if decision == 1 %}<!-- caso1 crear chat owner=request opponent=autor, enviar mensaje, link dialog.receptor  -->
								<form method='POST'>
								{% csrf_token %}									
								{{form1.as_p}}
								<button class="primary-btn add-to-cart" type="submit" name="btnform1" onclick="return confirm('Se enviara al vendedor un mensaje por este producto especifico')">
									<i class="fa fa-shopping-cart"></i>&nbsp;Comprar
								</button>								
							{% endif %}	
							
							{% if decision == 2 %}<!-- caso2 no crear chat, enviar mensaje, link dialog.receptor  -->
								<form method='POST'>
								{% csrf_token %}									
								{{form2.as_p}}
								<button class="primary-btn add-to-cart" type="submit" name="btnform2" onclick="return confirm('Se enviara al vendedor un mensaje por este producto especifico')">
									<i class="fa fa-shopping-cart"></i>&nbsp;Comprar
								</button>								
							{% endif %}																		

							{% if decision == 3 %}<!-- caso3 no crear chat, enviar mensaje, link dialog.emisor  -->
							<form method='POST'>
								{% csrf_token %}									
								{{form3.as_p}}
								<button class="primary-btn add-to-cart" type="submit" name="btnform3">
									<i class="fa fa-shopping-cart"></i>&nbsp;Comprar
								</button>								
							{% endif %}

							{% if decision == 4 %}<!-- caso4 no crear chat, no enviar mensaje, link dialog.receptor  -->
								<form method='POST'>
									{% csrf_token %}									
									{{form4.as_p}}
									<button class="primary-btn add-to-cart" type="submit" name="btnform4">
										<i class="fa fa-weixin" aria-hidden="true"></i>&nbsp;Enviar mensaje
									</button>								
							{% endif %}

							{% if decision == 5 %}<!-- caso5 no crear chat, no enviar mensaje, link dialog.emisor  -->
									<form method='POST'>
										{% csrf_token %}									
										{{form5.as_p}}
										<button class="primary-btn add-to-cart" type="submit" name="btnform5">
											<i class="fa fa-weixin" aria-hidden="true"></i>&nbsp;Enviar mensaje
										</button>								
							{% endif %}
						{% endif %}
							{% if articulos.permuta and usuario_log != autor and decision != 0 %}<!-- SI ESTE PRODUCTO ES PERMUTABLE Y EL USUARIO NO ES EL DUEÑO Y NO ES CASO 0, O SEA INICIO SESION-->
							<div class="header-account dropdown default-dropdown">
								<div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
									<button class="primary-btn add-to-cart" type="submit">Permutar&nbsp;<i class="fa fa-caret-down"></i></button>	
								</div>
								<ul class="custom-menu">
									{% if permutar %}
									{% for articulo in permutar %}		
										<form method='POST'>
											{% csrf_token %}
											{{form6.as_p}}
											<button class="primary-btn add-to-cart" name="btnform6"><a href="/confirmar_ofrecer_permuta/{{ articulo.id }}/{{ articulos.id }}/">Ofrecer mi {{ articulo.nombre }} para permutar</a></button><p></p>
										</form>
									{% endfor %}
									{% else %}
									<h4>Publica un producto y marcalo como permuta para ofrecerlo como permuta</h4>
									{% endif %}
								</ul>
							</div>	
							{% endif %}
							{% if fav %}
							<a href="{% url 'favourite_add' articulos.id %}" class=""><button class="main-btn icon-btn"><i class="fa fa-bookmark" aria-hidden="true"></i></button></a>								
							{% else %}
							<a href="{% url 'favourite_add' articulos.id %}" class=""><button class="main-btn icon-btn"><i class="fa fa-bookmark-o" aria-hidden="true"></i></button></a>	
							{% endif %}

						{% endif %}
						<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"><button class="main-btn icon-btn"><i class="fa fa-facebook-square" aria-hidden="true"></i></button></a>	
								</div>
								<br>
								<!--***** CARACTERISTICAS  ACAAAAAAAAAAA  *******-->
								{% if articulos.categoria.name == "Chalecos" %}
								<div class="col-md-9">
									<div class="billing-details">
										<div class="section-title">
											<h4 class="">Caracteristicas de {{articulos.categoria.name}}</h4>
										</div>
									</div>																			
								<table class="shopping-cart-table table">
									<tr>
										<th class="text-left">
											<div class="col-md-12" style="background-color: rgb(240, 240, 240);">
												<table class="shopping-cart-table table"style="background-color: rgb(240, 240, 240);">
													{% if articulos.material %}
													<tr>
														<th class="text-left">Material</th>
														<td class="text-left">{{ articulos.material }}</td>
													</tr>											
													{% endif %}
													{% if articulos.talla %}
													<tr>
														<th class="text-left">Talla</th>
														<td class="text-left">{{ articulos.talla }}</td>
													</tr>
													{% endif %}																																																						
												</table>                 
											</div>   
										</th>
									</tr>
								</table>
								{% elif articulos.categoria.name == "Pistolas" %}
								<div class="col-md-9">
									<div class="billing-details">
										<div class="section-title">
											<h4 class="">Caracteristicas de {{articulos.categoria.name}}</h4>
										</div>
									</div>																			
								<table class="shopping-cart-table table">
									<tr>
										<th class="text-left">
											<div class="col-md-12" style="background-color: rgb(240, 240, 240);">
												<table class="shopping-cart-table table"style="background-color: rgb(240, 240, 240);">
													{% if articulos.potencia %}
													<tr>
														<th class="text-left">Potencia</th>
														<td class="text-left">{{ articulos.potencia }} FPS</td>
													</tr>											
													{% endif %}
													{% if articulos.distancia %}
													<tr>
														<th class="text-left">Distancia</th>
														<td class="text-left">{{ articulos.distancia }} metros aprox</td>
													</tr>
													{% endif %}	
													{% if articulos.incluye_accesorios %}
													<tr>
														<th class="text-left">Incluye Accesorios</th>
														<td class="text-left">Si</td>
													</tr>
													{% endif %}	
													{% if not articulos.incluye_accesorios %}
													<tr>
														<th class="text-left">Incluye Accesorios</th>
														<td class="text-left">No</td>
													</tr>
													{% endif %}																																																						
												</table>                 
											</div>   
										</th>
									</tr>
								</table>							
								{% endif %}
							</div>
						</div>

					</div>
				</div>
					<div class="col-md-12">
						<div class="product-tab">
							<ul class="tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1">Detalles</a></li>
								<li><a data-toggle="tab" href="#tab2">Comentarios</a></li>
							</ul>
							<div class="tab-content">
								<div id="tab1" class="tab-pane fade in active">
									<p>{{ articulos.descripcion | safe }}</p>
								</div>
								<div id="tab2" class="tab-pane fade in">
									<div class="row">
										<div class="col-md-6">
											<div class="product-reviews">
												{% if comentarios == 0 %}
												<h4>Este producto aun no tiene ningun comentario</h4>
												{% endif %}
												{% if comentarios == 1 %}
												<div class="single-review">													
													<div class="review-heading">
														<div><a href="{% url 'account' comentario.userComentando.id %}"><i class="fa fa-user-o"></i> {{ comentario.userComentando }}</a></div>
														<div><a href="#"><i class="fa fa-clock-o"></i> {{ comentario.create_at }}</a></div>
														{% if comentario.calificar_producto == 0 %}
														<div class="review-rating pull-right">
															<i class="fa fa-star-o empty"></i>
															<i class="fa fa-star-o empty"></i>
															<i class="fa fa-star-o empty"></i>
															<i class="fa fa-star-o empty"></i>																														
															<i class="fa fa-star-o empty"></i>														
														{% elif comentario.calificar_producto == 1 %}
														<div class="review-rating pull-right">
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o empty"></i>
															<i class="fa fa-star-o empty"></i>
															<i class="fa fa-star-o empty"></i>																														
															<i class="fa fa-star-o empty"></i>		
														{% elif comentario.calificar_producto == 2 %}
														<div class="review-rating pull-right">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o empty"></i>
															<i class="fa fa-star-o empty"></i>																
															<i class="fa fa-star-o empty"></i>
														{% elif comentario.calificar_producto == 3 %}
														<div class="review-rating pull-right">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o empty"></i>
															<i class="fa fa-star-o empty"></i>																																									
														{% elif comentario.calificar_producto == 4 %}
														<div class="review-rating pull-right">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o empty"></i>
														{% elif comentario.calificar_producto == 5 %}
														<div class="review-rating pull-right">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>															
														{% endif %}
														</div>
													</div>
													<div class="review-body">
														<p>{{ comentario.comentario }}</p>
													</div>
												</div>
												{% endif %}
											</div>
										</div>
										<div class="col-md-6">
											{% if usuario_log != autor and comentarios == 0 %}											
											<h4 class="text-uppercase">Escribe tu comentario</h4>
											<form class="review-form" action="/addcomment/{{ articulos.id }}" method="POST">
												{% csrf_token %}
												<div class="form-group">
													<div class="input-rating">
														<strong class="text-uppercase">Calificar producto</strong>
														<div class="stars">
															<input type="radio" id="star5" name="calificar_producto" value="5" /><label for="star5"></label>
															<input type="radio" id="star4" name="calificar_producto" value="4" /><label for="star4"></label>
															<input type="radio" id="star3" name="calificar_producto" value="3" /><label for="star3"></label>
															<input type="radio" id="star2" name="calificar_producto" value="2" /><label for="star2"></label>
															<input type="radio" id="star1" name="calificar_producto" value="1" /><label for="star1"></label>
														</div>
													</div>
												</div>
												<div class="form-group">
													<div>
														<strong class="text-uppercase">Calificar vendedor</strong>
														&nbsp;<input type="radio" id="star5" name="calificar_vendedor" value="5" /><label for="star5"></label>
														&nbsp;<input type="radio" id="star4" name="calificar_vendedor" value="4" /><label for="star4"></label>
														&nbsp;<input type="radio" id="star3" name="calificar_vendedor" value="3" /><label for="star3"></label>
														&nbsp;<input type="radio" id="star2" name="calificar_vendedor" value="2" /><label for="star2"></label>
														&nbsp;<input type="radio" id="star1" name="calificar_vendedor" value="1" /><label for="star1"></label>
													</div>
												</div>
												<div class="form-group">
													<input name="comentario" class="input" type="text" placeholder="Escribe tu comentario"/>													
												</div>	
												{% if user.id is not None %}<!-- SI EL USUARIO A INICIADO SESION -->
													{% if user == articulos.comprador %}<!-- SI EL USUARIO ES = AL QUE SE ELIGIO COMO COMPRADOR-->													
													<button class="primary-btn" name="btnform8">Comentar</button>                 
												</form>	
													{% endif %}
													{% if user != articulos.comprador %}<!-- SI NO, SE LE PIDE QUE HABLE CON EL VENDEDOR-->
													<p></p>
													<h4> Debes ser elegido como el comprador de este producto por el dueño de la publicacion para poder comentar</h4>
													{% endif %}
												{% else %}<!-- SI NO HA INICIADO SESION SE LE PIDE QUE INICIE-->											
												<h4>Esta accion requiere iniciar sesion y ser escogido por el dueño de la publicacion como comprador</h4>
												<a href="{% url 'login' %}">													
													<button class="primary-btn add-to-cart">
														iniciar sesion
													</button>
												</a>
												{% endif %}
												
											</form>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Product Details -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
</body>
  <!-- FOOTER -->
  <footer id="footer" class="section section-grey">
	<!-- container -->
	<div class="container">
		<!-- row -->		
		<!-- /row -->
		<hr>
		<!-- row -->
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<!-- footer copyright -->
				<div class="footer-copyright">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright Tienda Airsoft &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | Este diseño fue hecho con <a href="https://colorlib.com" target="_blank">Colorlib</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</div>
				<!-- /footer copyright -->
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</footer>
<!-- /FOOTER -->
<!-- jQuery Plugins -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/slick.min.js"></script>
<script src="/static/js/nouislider.min.js"></script>
<script src="/static/js/jquery.zoom.min.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>