{% extends "tienda/base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

{% load crispy_forms_tags %}
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
            </div>
            <div id="main" class="col-md-6">
                <br>                 
                <h2>Publica tu producto</h2>
                <br>
                <h4 style="color:rgb(230, 65, 65)">Campos con * son obligatorios</h4>
                <form action="" method="POST"    enctype="multipart/form-data">
                    {% csrf_token %}                                                                             
                    <br>
                    {{ formularioArticulo.nombre|as_crispy_field }}
                    {{ formularioArticulo.imagen_principal|as_crispy_field }}
                    {{ formularioArticulo.imagen_extra_1|as_crispy_field }}                    
                    {{ formularioArticulo.imagen_extra_2|as_crispy_field }}  
                    {{ formularioArticulo.imagen_extra_3|as_crispy_field }}  
                    {{ formularioArticulo.imagen_extra_4|as_crispy_field }}  
                    {{ formularioArticulo.imagen_extra_5|as_crispy_field }}                       
                    {{ formularioArticulo.precio|as_crispy_field }}
                    {{ formularioArticulo.permuta|as_crispy_field }}                                                           
                    {% if categoria.name == "Pistolas" %}                 
                    <h4>Caracteristicas de pistolas</h4>
                        {{ formularioArticulo.incluye_accesorios|as_crispy_field }}                    
                        {{ formularioArticulo.potencia|as_crispy_field }}
                        {{ formularioArticulo.distancia|as_crispy_field }}                        
                    {% elif categoria.name == "Chalecos" %}                 
                    <h4>Caracteristicas de chalecos</h4>
                        {{ formularioArticulo.talla|as_crispy_field }}                    
                        {{ formularioArticulo.material|as_crispy_field }}                   
                    {% endif %}                        
                    <hr />         
                    <br>                                
                    <h5>Descripción</h5>        
                    {{ formularioArticulo.media }}             
                    {{ formularioArticulo.descripcion|safe}}
                    <hr />    
                    <br>
                    <div class="d-flex justify-content-end">  
                        <liv>
                            <a href="#" onclick="return confirm('Se limpiarán todos los campos menos la descripción')">													                          												                                            												
                                <button type="reset" class="primary-btn add-to-cart" style=background:gray><i class="fa fa-eraser"></i>&nbsp;
                                    Limpiar campos
                                </button>         
                            </a>         
                            <button type="submit" name="submit" value="Publicar producto" class="primary-btn add-to-cart"><i class="fa fa-pencil"></i>&nbsp;
                               Publicar porducto
                            </button>  
                        </liv>  
                    </div>                
                    </div>                                   
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}