{% extends "tienda/base.html" %}
<head>
    {% load static %}        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Crear cuenta en Airsoft Store Chile</title> 
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">     
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

{% block content %}

{% load crispy_forms_tags %}
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
            </div>
            <div id="main" class="col-md-5">
                <br>                 
                <h2>Edita tus datos de perfil</h2>
                <br>
                {% load crispy_forms_tags %}                   
                <form action="" method="POST"  enctype="multipart/form-data">                    
                    {% csrf_token %}      
                    {{ formularioPerfil.media }}             
                    {{ formularioPerfil | crispy }}                                                       
                    <br>     
                    <div class="d-flex justify-content-end">
                        <a href="#" onclick="return confirm('Se devolvera el valor que tenian todos los campos antes de ser modificados')">													                          												                                            												
                            <button type="reset" class="primary-btn add-to-cart" style=background:gray><i class="fa fa-undo"></i>&nbsp;
                                Revertir cambios
                            </button>         
                        </a>         
                        <button type="submit" name="submit" value="Modificar datos de perfil" class="primary-btn add-to-cart"><i class="fa fa-pencil-square-o"></i>&nbsp;
                           Modificar datos de perfil
                        </button>  
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}