<!DOCTYPE HTML>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all">
        <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="all">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <title>{% block title %}{% endblock %}</title>
        <meta name="keywords" content="{% block keywords %} Home Keywords {% endblock %}">
        <meta name="description" content="{% block description %} Home description  {% endblock %}">
    
        <!-- Google font -->
        <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">
        {% load static %}
        <!-- Bootstrap -->
        <link type="text/css" rel="stylesheet" href="{% static '' %}css/bootstrap.min.css" />
        
        <!-- Slick -->
        <link type="text/css" rel="stylesheet" href="{% static 'css/slick.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static '' %}css/slick-theme.css" />
    
        <!-- nouislider -->
        <link type="text/css" rel="stylesheet" href="{% static '' %}css/nouislider.min.css" />
    
        <!-- Font Awesome Icon -->
        <link rel="stylesheet" href="{% static '' %}css/font-awesome.min.css">
    
        <!-- Custom stlylesheet -->
        <link type="text/css" rel="stylesheet" href="{% static '' %}css/style.css" />
    
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- jQuery !-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
        <!-- jQuery UI !-->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        {% block css %}{% endblock %}
    </head>
	<header>
		<!-- header -->
		<div id="header">
			<div class="container">
				<div class="pull-left">
					<!-- Logo -->
					<div class="header-logo">
						<a class="logo"  href="{% url 'home' %}">
							<img   src="{% static '' %}img/logo.png" alt="">
						</a>
					</div>
					<!-- /Logo -->
					<!-- Search -->

					<!-- /Search -->
				</div>
				<div class="pull-right">
					<ul class="header-btns">
            <!-- Account -->

						<!-- /Account -->
						<!-- Mobile nav toggle-->
						<li class="nav-toggle">
							<button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
						</li>
						<!-- / Mobile nav toggle -->
					</ul>
				</div>
			</div>
			<!-- header -->
		</div>
		<!-- container -->
	</header>
	<!-- /HEADER -->
	<!-- NAVIGATION -->
	<div id="navigation">
		<!-- container -->
		<div class="container">
			<div id="responsive-nav">
				<!-- category nav -->              
				<!-- /category nav -->
				<!-- menu nav -->
				<div class="menu-nav">
					<span class="menu-header">Menu <i class="fa fa-bars"></i></span>
					<ul class="menu-list">
						
		</ul>
    </div>
                </div>
            </div>
        </div>
    <body>
        <p></p>
        {% block content %}{% endblock %}

        <script src="{% static "js/jquery.min.js" %}" type="text/javascript"></script>
        <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>
        <script src="{% static "js/handlebars-v1.3.0.js" %}" type="text/javascript"></script>
        {% block extra_js %}{% endblock %}
    </body>
  <!-- FOOTER -->
  <footer id="footer" class="section section-grey">
    <!-- container -->
    <div class="container">
        <hr>
        <!-- row -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <!-- footer copyright -->
                <div class="footer-copyright">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright Tienda Airsoft &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | Este diseño fue hecho con <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
                <!-- /footer copyright -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->
<script src="{% static '' %}js/bootstrap.min.js"></script>
<script src="{% static '' %}js/slick.min.js"></script>
<script src="{% static '' %}js/nouislider.min.js"></script>
<script src="{% static '' %}js/jquery.zoom.min.js"></script>
<script src="{% static '' %}js/main.js"></script>
</body>

</html>
