<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}           
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Login</title>    
            <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">     
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">              
        </head>
        <body>
            <!--<header style="background-color: rgb(27, 27, 27);">-->
                <header>
                <div id="header">
                    <div class="container">
                        <div class="pull-left">
                            <!-- Logo -->
                            <div class="header-logo">
                                <a class="logo"  href="{% url 'home' %}">
                                    <img   src="{% static '' %}img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <p><br></p>
            </header>
            <p><br></p>
            <div id="navigation">
            </div>
        <div class="container">
            <p><br></p>
            <h2>Autentificación</h2>
            {% load crispy_forms_tags %}
            <form action="" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" value="Iniciar sesion" class="btn btn-success float-right"> 
                <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-info" style="background-color: royalblue;"><i class="fa fa-facebook-square">&nbsp;</i>Iniciar sesion con Facebook</a>
            </form>
        </div>
    </body>
</html>