<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Crear cuenta en Airsoft Store Chile</title> 
            <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">     
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
    <body>
        <!--<header style="background-color: rgb(27, 27, 27);">-->
            <header>
            <div id="header">
                <div class="container">
                    <div class="pull-left">
                        <!-- Logo -->
                        <div class="header-logo">
                            <a class="logo"  href="{% url 'home' %}">
                                <img   src="{% static '' %}img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <p><br></p>
        </header>
        <p><br></p>
        <div id="navigation">
        </div>
        <div class="container"> 
            <p><br></p>       
            <h2>Crear cuenta</h2>				
        {% if messages %}
        {% for message in messages %}
            {% if message.level == 40 %}
        <style>
            .alert {
              padding: 20px;
              background-color: #f44336;
              color: white;
            }
            
            .closebtn {
              margin-left: 15px;
              color: white;
              font-weight: bold;
              float: right;
              font-size: 22px;
              line-height: 20px;
              cursor: pointer;
              transition: 0.3s;
            }
            
            .closebtn:hover {
              color: black;
            }
            </style>
            <div id="main" class="col-md-12">           
                <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                {{ message }}
                </div>  
            </div>			
            {% endif %}
        {% endfor %}				
        {% endif %}	 

        {% load crispy_forms_tags %}        
        <form action="" method="POST">
            {% csrf_token %}
                {{ form | crispy }}                
            <div class="float-right">
                <input type="reset" value="Limpiar campos" class="btn btn-info">
                <input type="submit" value="Registarse" class="btn btn-success">
            </div>                
            <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-info" style="background-color: royalblue;"><i class="fa fa-facebook-square">&nbsp;</i>Registrarse con cuenta de Facebook</a>
        </form>
        </div>
        <p><br></p>
        <hr />
        <p><br></p>
    </body>
</html>